[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
[submodule "sweety-blockchain-gui"]
	path = sweety-blockchain-gui
	url = https://github.com/Sweety-Network/sweety-blockchain-gui.git
